//@import "~primer-css/index.scss";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

$assetPath : "img";


  //background-image : url('#{$assetPath}/i.gif');
  .simple-tree-container{
    padding: 0 ;
    margin: 0;
  }

  .simple-tree-container li {
    list-style-type: none;
  }

  /* indent for all tree children excepts root */
  .simple-tree-Node {
    background-image : url('#{$assetPath}/i.gif');
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
  }

  .simple-tree-IsRoot {
    margin-left: 0;
  }

  /* left vertical line (grid) for all nodes */
  .simple-tree-IsLast {
    background-image: url('#{$assetPath}/i_half.gif');
    background-repeat : no-repeat;
  }

  .simple-tree-ExpandOpen .simple-tree-Expand {
    background-image: url('#{$assetPath}/expand_minus.gif');
  }

  /* closed is higher priority than open */
  .simple-tree-ExpandClosed .simple-tree-Expand {
    background-image: url('#{$assetPath}/expand_plus.gif');
  }

  /* highest priority */
  .simple-tree-ExpandLeaf .simple-tree-Expand {
    background-image: url('#{$assetPath}/expand_leaf.gif');
  }

  .simple-tree-Content {
    min-height: 18px;
    margin-left:18px;
  }

  * html .simple-tree-Content {
    height: 18px;
  }

  .simple-tree-Expand {
    width: 18px;
    height: 18px;
    float: left;
  }

  .simple-tree-ExpandOpen .simple-tree-container  {
    display: block;
  }

  .simple-tree-ExpandClosed  .simple-tree-container{
    display: none;
  }

  .simple-tree-ExpandOpen .simple-tree-Expand, .simple-tree-ExpandClosed .simple-tree-Expand {
    cursor: pointer;
  }
  .simple-tree-ExpandLeaf .simple-tree-Expand {
    cursor: auto;
  }

